*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial, Helvetica, sans-serif;
  }

  .topnav {
    background-image: linear-gradient(rgb(255, 201, 101), rgb(255, 47, 11));
    overflow: hidden;
    height: 7vh;
  }
  

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    color: black;
    box-shadow: 10px 10px 40px black;
  }

  .container{
    width: 80%;
    padding-bottom: 100px;
    padding-top: 50px;
    margin: 50px auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h1{
    font-size: 50px;
    text-align: center;
  }

 .sec1{
    display: flex;
    margin: 100px 150px 120px 150px;
  }
  
  .sec1text{
    flex-basis: 50%;
    width: 50%;
    height: 150px;
    padding-right: 50px;
  }
  
  .sec1text p{
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
    font-weight: 100;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  
  .sec1img{
    flex-basis: 50%;
    width: 50%;
  }
  
  .sec1img img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
  }

  .card-container{
    display: flex;
    justify-content: center;
  }
  
  .card{
    width: 340px;
    height: 280px;
    margin: 0 10px;
    border-radius: 10px;
    text-align: left;
    padding: 45px 20px 30px 35px;
  }
  
  .card h3{
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #card1{
    background-color: #e2fdffdf;
  }
  
  #card2{
    background-color: #fde3e3e3;
  }
  
  #card3{
    background-color: #fff4d6d8 ;
  }
  .get-my-update{
    text-align: center;
  }
  
  form{
    width: 750px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 400px;
    background-color: rgba(255, 228, 196, 0.867);
  }
  
  input[type="email"]{
    width: 250px;
    height: 42px;
    border: none;
    background-color: #c5c4c4d4;
    border-radius: 5px 0 0 5px;
    padding: 1px 20px;
    font-size: 15px;
    font-weight: 700;
  }
  
  button[type="submit"]{
    height: 42px;
    width: 150px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #fe4b4b;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover{
    color: rgb(185, 185, 185);
  }
  
  .get-my-update p{
    font-size: 20px;
    color: gray;
    margin-bottom: 40px;
    font-weight: 100;
    margin-top: 20px;
  }

  footer{
    margin-top: 120px;
    color: white;
    height: 170px;
    background-color: #0a0b14;
    text-align: center;
    padding: 25px;
  }         
  
  footer h3{
    font-family: 'Lobster', cursive;
    color: #ff4949;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  